$contrast-color: red;

/* Navigation */
#tf-menu {
	padding: 20px;
	transition: all 0.8s;
	&.navbar-default {
		background-color: rgba(248, 248, 248, 0);
		border-color: rgba(231, 231, 231, 0);
	}
	a.navbar-brand {
		text-transform: uppercase;
		font-size: 22px;
		color: #fff;
		font-weight: 900;
	}
	&.navbar-default .navbar-nav > li > a {
		text-transform: uppercase;
		color: #FFF;
		font-size: 12px;
		letter-spacing: 1px;
	}
	.on {
		background-color: #222222 !important;
		padding: 0 !important;
	}
	&.navbar-default .navbar-nav > .active > a,
	&.navbar-default .navbar-nav > .active > a:hover,
	&.navbar-default .navbar-nav > .active > a:focus {
		color: $contrast-color !important;
		background-color: transparent;
		font-weight: 700;
	}
}
	.navbar-toggle {
		border-radius: 0;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: $contrast-color;
		border-color: $contrast-color;
	}
	.navbar-default .navbar-toggle:hover>.icon-bar {
		background-color: #FFF;
	}
